/*
### Media Query Ranges
*/
$screen-small: 664px !default;
$screen-medium: 940px !default;
$screen-large: 1280px !default;
$screen-extralarge:  1312px !default;

/*
### basic spacing
*/
$gutter: 16px !default;
$gutter-half: ($gutter / 2) !default; // 8px
